[Unit]
Description=nymea-remoteproxy - Proxy server for the nymea remote connection
Documentation=github.com/nymea/nymea-remoteproxy
After=network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/nymea-remoteproxy
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
