Source: nymea-remoteproxy
Section: utils
Priority: optional
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 3.9.3
Homepage: https://nymea.io
Vcs-Git: https://github.com/nymea/nymea-remoteproxy.git
Build-depends: debhelper (>= 9.0.0),
               dpkg-dev (>= 1.16.1~),
               pkg-config,
               qtbase5-dev,
               qtbase5-dev-tools,
               libqt5websockets5-dev,
               libncurses5-dev


Package: nymea-remoteproxy
Architecture: any
Section: net
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         awscli,
         libnymea-remoteproxy (= ${binary:Version}),
Suggests: nymea-remoteproxy-monitor (= ${binary:Version})
Description: The nymea remote proxy server
  The nymea remote proxy server


Package: libnymea-remoteproxy
Architecture: any
Section: libs
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: The nymea remote proxy server lib
  The nymea remote proxy server lib


Package: libnymea-remoteproxy-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-remoteproxy (= ${binary:Version}),
         pkg-config
Description: The nymea remote proxy server lib - development files
  The nymea remote proxy server lib - development files


Package: nymea-remoteproxy-client
Architecture: any
Section: utils
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: The nymea remote proxy client for testing
  The nymea remote proxy client for testing


Package: nymea-remoteproxy-tunnelclient
Architecture: any
Section: utils
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: The nymea remote proxy tunnel client for testing
  The nymea remote proxy tunnel client for testing


Package: libnymea-remoteproxyclient
Architecture: any
Section: libs
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: The nymea remote proxy server client lib
  The nymea remote proxy server client lib


Package: libnymea-remoteproxyclient-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-remoteproxyclient (= ${binary:Version}),
         pkg-config
Description: The nymea remote proxy server client lib - development files
  The nymea remote proxy server client lib - development files


Package: nymea-remoteproxy-tests
Architecture: any
Multi-Arch: same
Section: devel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-remoteproxy (= ${binary:Version}),
Description: The nymea remote proxy server tests
  The nymea remote proxy server tests


Package: nymea-remoteproxy-monitor
Architecture: any
Multi-Arch: same
Section: utils
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: The nymea remote proxy monitor tool
  The nymea remote proxy server monitor
