#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

include /usr/share/dpkg/buildflags.mk

PREPROCESS_FILES := $(wildcard debian/*.in)

$(PREPROCESS_FILES:.in=): %: %.in
	sed 's,/@DEB_HOST_MULTIARCH@,$(DEB_HOST_MULTIARCH:%=/%),g' $< > $@

override_dh_install: $(PREPROCESS_FILES:.in=)
	dh_install

# Note that this is the default with compat level 12.
override_dh_missing:
	dh_missing --list-missing

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(PREPROCESS_FILES:.in=)

override_dh_auto_test:
	dh_auto_test -- -k TESTARGS="-maxwarnings 0"

override_dh_installsystemd:
	dh_installsystemd --restart-after-upgrade

%:
	dh $@ --buildsystem=qmake --parallel
